<!-- <app-header-one [sticky]="true"></app-header-one> -->

<section class="about-page  section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section">
                    <img src="assets/images/about-main.jpg" class="img-fluid" alt="about-us" />
                </div>
            </div>
            <div class="col-sm-12">
                <h3 class="return-title">Return Policy</h3>
                <p>
                    Returns are accepted within 30 days of delivery. All frames must be returned in their original
                    packaging material along with authenticity papers, case, cloth, and warranty cards. In the case of
                    prescription or custom lenses, demo lenses must be returned along with the custom lenses.
                </p>
                <p>
                   Frames returned will be refunded in full to the original payment method.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- <app-footer-one></app-footer-one> -->